<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <article class="events col-md-4">
    <% if @user.events.any? %>
      <% @user.events.each do |event| %>
        <ul>
          <li><%= link_to event.title, event_path(event.id) %></li>
        </ul>
      <% end %>
    <% else %>
      <div class="no-event-yet">No Event Yet</div>
    <% end %>
  </article>
  <article class="event-form col-md-4">
        <%= link_to "New Event", events_path %>
  </article>
</div>