<div class="container">
  <div class="row mx-auto">
    <div class="col-md-8">
    <h2 class="mt-2"><%= @event.title %></h2>
    <hr>
    <p class="pt-4"><%= @event.desc %></p>
    <p class="pt-4">Event Creator: <%= @creator.name %></p>
    </div>
  </div>
</div>

